<div class="card mt-4">
            <div class="card-body">
              <h5 class="card-title"> <%= postTitle%></h5>
              <p class="card-text">
                <%= postContent%>
              </p>
              <a
                onclick="openCardModal(this)"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#contentModal"
                >Прочитај</a
              >
            </div>
          </div>